@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto&family=Turret+Road&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", "Roboto", sans-serif;
  box-sizing: border-box;
}

.btntwo-firstcolor {
  background-color: #37306B;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  border-style: solid;
  color: #cacaca;
  box-shadow: 5px 5px 7pc 0px black;
}
.btntwo-firstcolor:hover {
  background-color: #131025;
}
.btntwo-firstcolor a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}

.btntwo-secondcolor {
  background-color: #66347F;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  border-style: solid;
  color: #cacaca;
  box-shadow: 5px 5px 7pc 0px black;
}
.btntwo-secondcolor:hover {
  background-color: #2c1637;
}
.btntwo-secondcolor a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}

.btntwo-thirdcolor {
  background-color: #9E4784;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  border-style: solid;
  color: #cacaca;
  box-shadow: 5px 5px 7pc 0px black;
  border-style: none;
}
.btntwo-thirdcolor:hover {
  background-color: #582749;
}
.btntwo-thirdcolor a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}

.btntwo-fourthcolor {
  background-color: #D27685;
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  border-style: solid;
  color: #cacaca;
  box-shadow: 5px 5px 7pc 0px black;
}
.btntwo-fourthcolor:hover {
  background-color: #aa384b;
}
.btntwo-fourthcolor a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}

.btntwo-fifthcolor {
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding: 20px;
  border-radius: 25px;
  text-decoration: none;
  border-style: solid;
  color: #cacaca;
  box-shadow: 5px 5px 7pc 0px black;
}
.btntwo-fifthcolor:hover {
  background-color: rgba(187, 187, 187, 0.9333333333);
}
.btntwo-fifthcolor a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.9333333333);
}
.btntwo-fifthcolor a {
  color: black;
}

.d-flex, .services--boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-template: 10px;
  flex-direction: row;
}

/* Bootstrap for all*/
/*--Nav Bar--*/
.ic--wmessage--container {
  background-color: #37306b;
  text-align: center;
}

.navbar-custom {
  background-color: #230068;
}

.navbar-brand,
.nav-link {
  color: #fefefe;
}

.offcanvas-body {
  background-color: #230068;
}

.offcanvas-header {
  background-color: #9e4784;
}

/* ---    Logo   ----  */
.custom--logo {
  width: 25%;
  text-align: start;
}

.container-fluid img {
  height: 150px;
  object-fit: cover;
}

/*----------------------------------------Footer------------------------------*/
/*All pages*/
footer {
  background-color: #d27685;
}

.footer--logo--box {
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow; */
  background-color: #d27685;
  padding: 10px;
  /* background-color: #230068; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer--logo {
  /* background-color: blue; */
  align-content: flex-start;
  width: 20%;
}

.footer--logo img {
  width: 100%;
}

.footer--disclaimer {
  /* background-color: black; */
  text-align: center;
  align-self: last baseline;
  display: flex;
  flex-direction: column;
}

.footer--disclaimer p {
  color: #37306b;
  padding: 15px;
}

.footer--disclaimer hr {
  width: 70%;
  align-self: center;
  margin-top: 33%;
}

.footer--menu {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  align-self: baseline;
  height: auto;
  gap: 5px;
  padding: 15px;
}

.footer--menu h2 {
  color: #37306b;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

.footer--menu ul {
  /* -background-color: green;- */
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: first baseline;
  list-style: none;
  gap: 13px;
}

.footer--menu ul li {
  text-decoration: none;
  color: #37306b;
  font-weight: bold;
}

/*flex Footer*/
.row {
  justify-content: space-between;
}

.custom-footer-text,
.custom-footer-text-color {
  text-align: right;
  color: #242047;
  font-weight: bold;
}
.custom-footer-text h3,
.custom-footer-text-color h3 {
  font-weight: bolder;
}

/* ---    Banner   ----  */
/* with Boostrap for all*/
.banner--container--icg {
  position: relative;
  width: 100%;
}

.banner--container--icg img {
  width: 100%;
}

.banner--message--icg {
  position: absolute;
  top: 35%;
  left: 2%;
  /* z-index: -1; */
  max-width: 100%;
  width: auto;
  color: #fefefe;
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.562);
  border-radius: 10px;
  padding: 5px;
  align-content: center;
  align-items: center;
}

/*main color*/
.iconic--main {
  background-color: #37306B;
}

.banner--message {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  bottom: 38%;
  /* background-color: #fefefe; */
  padding: 30px;
}

.banner--message h1 {
  text-align: left;
  font-size: 35px;
  color: #fefefe;
  font-weight: bold;
}

.welcome--container {
  background-color: #37306B;
}
.welcome--container .container-sm {
  font-family: "Exo 2", "Roboto", sans-serif;
  color: #fefefe;
  text-align: justify;
  padding: 35px;
}
.welcome--container .container-sm h2 {
  padding: 30px;
}
.welcome--container .container-sm hr {
  width: 50%;
  align-self: center;
  margin-left: 25%;
}

.welcome--box {
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.welcome--box .welcome--box div {
  width: 100%;
  padding: 20px;
  /* background-color: brown; */
}
.welcome--box .welcome--box div h2 {
  color: #cacaca;
  text-align: center;
  line-height: 38px;
}

.cards--box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  /* background-color: rgb(30, 204, 210); */
  background-color: #37306b;
  width: 100%;
  height: auto;
  padding: 30px;
}
.cards--box .cards {
  width: 25%;
  box-shadow: 5px 5px 7pc 0px black;
  border-radius: 25px;
}
.cards--box .cards h2 {
  padding: 10px;
  font-weight: bold;
}
.cards--box .cards img {
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.cards--box .c1 {
  width: 25%;
  /* background-color: yellow; */
}
.cards--box .c2 {
  width: 25%;
  /* background-color: blue; */
}
.cards--box .c3 {
  width: 25%;
  /* background-color: burlywood; */
}
.cards--box .cards--title {
  text-align: center;
  color: #cacaca;
}

/*Line in main section*/
.line--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #37306b;
  justify-content: center;
  align-items: center;
}

.line {
  width: 35%;
  color: #fefefe;
}

/*split section - Flex Box*/
.split--box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #9e4784;
}
.split--box .split {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.split--box .s1 {
  background-color: #9e4784;
  color: #fefefe;
}
.split--box .s1 h2 {
  margin: 16px;
}
.split--box .s1 h3 {
  background-color: #37306b;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
  margin: 10px;
}
.split--box .s2 {
  background-color: #9e4784;
  text-align: center;
}
.split--box .s2 img {
  width: 80%;
}

.line--container--l1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #9e4784;
  justify-content: center;
  align-items: center;
}

/*using GRID*/
.grid--boxes {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "area1 area1 area1 area1" "area2 area2 area3 area3" "area4 area4 area5 area5" "area6 area6 area7 area7" "area8 area8 area9 area9" "area10 area10 area11 area11";
  background-color: #37306b;
  gap: 15px;
  padding: 30px;
}
.grid--boxes .grid--box {
  width: 100%;
  /* height: 500px; */
  /* background-color: #66347F; */
  background-color: #9e4784;
  /* color: #cacaca; */
  /* display: flex;
      flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 5px 5px 7px 0 black;
  /* padding: 3px; */
  /* font-size: 50px;
      font-weight: bold; */
}
.grid--boxes .grid--box .container-md {
  padding: 0;
  height: auto;
}
.grid--boxes .grid--box .container-md h2 {
  width: 100%;
  color: #fefefe;
  border-radius: 10px;
  background-color: #242047;
  padding: 8px;
  text-align: center;
}
.grid--boxes .grid--box .container-md p {
  color: #cacaca;
  font-size: 100%;
  line-height: 1.6;
  text-align: justify;
  padding: 15px;
}
.grid--boxes .grid--box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.grid--boxes .b1 {
  grid-area: area1;
}
.grid--boxes .b2 {
  grid-area: area2;
  box-shadow: none;
  background-color: #443d79;
}
.grid--boxes .b3 {
  grid-area: area3;
}
.grid--boxes .b4 {
  grid-area: area4;
}
.grid--boxes .b5 {
  grid-area: area5;
  box-shadow: none;
  background-color: #443d79;
}
.grid--boxes .b6 {
  grid-area: area6;
  box-shadow: none;
  background-color: #443d79;
}
.grid--boxes .b7 {
  grid-area: area7;
}
.grid--boxes .b8 {
  grid-area: area8;
}
.grid--boxes .b9 {
  grid-area: area9;
  box-shadow: none;
  background-color: #443d79;
}
.grid--boxes .b10 {
  grid-area: area10;
  box-shadow: none;
  background-color: #443d79;
}
.grid--boxes .b11 {
  grid-area: area11;
}

.iconic--message {
  background-color: #37306b;
}
.iconic--message .iconic-custom {
  background-color: #37306b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconic--message .iconic-custom h2 {
  color: #cacaca;
}
.iconic--message .iconic-custom hr {
  color: #fffefe;
  width: 50%;
}

/*--carousel--*/
.carousel-inner {
  height: 500px;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

.ic--nbox__container {
  display: flex;
  flex-direction: column;
  background-color: #66347f;
}
.ic--nbox__container h2 {
  color: #fffefe;
  text-align: center;
  padding: 15px;
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.562);
  font-weight: bold;
}

.ic--container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  background-color: #66347f;
}
.ic--container .ic-custom {
  width: 25%;
  background-color: #cacaca;
}
.ic--container .ic-custom img {
  max-width: 100%;
  height: 500px;
}

/*------------ Official Websites----------*/
/*----SASS-----*/
.ow--boxes {
  background-color: #37306b;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card--boxes {
  background-color: #66347f;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card--boxes .card-owmix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  height: 60%;
  padding: 6px;
  border-radius: 20px;
  border: 2px solid #66347F;
  color: #cacaca;
  text-align: center;
  box-shadow: 2px 2px 3pc 0px black;
}
.card--boxes .card-owmix a {
  box-shadow: 2px 2px 3px 0px black;
}
.card--boxes .card-owmix p {
  text-align: left;
}
.card--boxes .card-owmix img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.line--containerow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #66347f;
  justify-content: center;
  align-items: center;
}
.line--containerow .line-ow {
  width: 35%;
  color: #fefefe;
}

.services--boxes {
  background-color: #9e4784;
  width: 100%;
  height: auto;
  padding: 20px;
  align-items: center;
  gap: 20px;
}
.services--boxes div {
  color: #cacaca;
  text-align: center;
  width: 29%;
}
.services--boxes div h3 {
  background-color: #37306b;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 2px 2px 3px 0px black;
}
.services--boxes div h3:hover {
  background-color: #131025;
}
.services--boxes div a {
  text-decoration: none;
  color: #cacaca;
}
.services--boxes .card-owmixse {
  background-color: #66347f;
  width: 30%;
  height: auto;
  padding: 6px;
  border-radius: 20px;
}
.services--boxes .card-owmixse img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 0px black;
}

.line--containerowtwo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #9e4784;
  justify-content: center;
  align-items: center;
}
.line--containerowtwo .line-owtwo {
  width: 35%;
  color: #fefefe;
}

.about--container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #9e4784;
}
.about--container .about--image {
  background-color: #9e4784;
  text-align: center;
}
.about--container .about--box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  align-content: center;
  width: 50%;
  align-self: center;
}
.about--container .about--box h2 {
  color: #cacaca;
}
.about--container .about--box p {
  color: #cacaca;
  font-size: larger;
}

/*--responsive--*/
@media only screen and (max-width: 370px) {
  .navbar-custom {
    position: unset;
  }
  .banner--message--icg {
    position: absolute;
    top: 15%;
  }
  .cards--box {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    gap: 30px;
  }
  .cards {
    width: 70%;
    box-shadow: 5px 5px 7pc 0px black;
    border-radius: 25px;
  }
  .grid--boxes {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "area1 area1 area1 area1" "area3 area3 area3 area3" "area2 area2 area2 area2" "area4 area4 area4 area4" "area5 area5 area5 area5" "area7 area7 area7 area7" "area6 area6 area6 area6" "area8 area8 area8 area8" "area9 area9 area9 area9" "area11 area11 area11 area11" "area10 area10 area10 area10";
    background-color: #37306b;
    gap: 15px;
    padding: 30px;
  }
  .grid--boxes .grid--box .container-md {
    padding: 0;
    height: auto;
  }
  .grid--boxes .grid--box .container-md h2 {
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  .grid--boxes .grid--box .container-md p {
    color: #cacaca;
    font-size: 100%;
    line-height: 1.2;
    text-align: justify;
    padding: 15px;
  }
  .grid--boxes .grid--box img {
    max-width: 100%;
    height: 300px;
  }
  .about--container {
    display: flex;
    flex-direction: column;
  }
  .about--container .about--image img {
    align-self: center;
    width: 100%;
  }
  .about--container .about--box {
    text-align: justify;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    height: 300px;
  }
  .cards--title h2 {
    text-align: center;
    color: #cacaca;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
  }
  .about--container {
    display: flex;
    flex-direction: column;
  }
  .about--container .about--image img {
    align-self: center;
    width: 100%;
  }
  .about--container .about--box {
    text-align: justify;
  }
}
@media only screen and (max-width: 765px) {
  .navbar-custom {
    position: unset;
  }
  .banner--message--icg {
    position: absolute;
    top: 15%;
  }
  .cards--box {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    height: auto;
    gap: 30px;
  }
  .cards--box .cards {
    width: 70%;
    height: auto;
    box-shadow: 5px 5px 7pc 0px black;
    border-radius: 25px;
  }
  .grid--boxes {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "area1 area1 area1 area1" "area3 area3 area3 area3" "area2 area2 area2 area2" "area4 area4 area4 area4" "area5 area5 area5 area5" "area7 area7 area7 area7" "area6 area6 area6 area6" "area8 area8 area8 area8" "area9 area9 area9 area9" "area11 area11 area11 area11" "area10 area10 area10 area10";
    background-color: #37306b;
    gap: 15px;
    padding: 30px;
  }
  .grid--boxes .grid--box .container-md {
    padding: 0;
    height: auto;
  }
  .grid--boxes .grid--box .container-md h2 {
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  .grid--boxes .grid--box .container-md p {
    color: #cacaca;
    font-size: 100%;
    line-height: 1.1 0.5;
    text-align: justify;
    padding: 15px;
  }
  .grid--boxes .grid--box img {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .ic--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ic--container .ic-custom {
    width: 70%;
    background-color: #cacaca;
  }
  .ow--boxes {
    display: flex;
    flex-direction: column;
  }
  .card--boxes {
    display: flex;
    flex-direction: column;
  }
  .services--boxes {
    display: flex;
    flex-direction: column;
  }
  .services--boxes div {
    width: 60%;
  }
  .services--boxes .card-owmixse {
    width: 100%;
  }
  .services--boxes .card-owmixse img {
    width: 100%;
    object-fit: cover;
  }
  .about--container {
    display: flex;
    flex-direction: column;
  }
  .about--container .about--image img {
    align-self: center;
    width: 100%;
  }
  .about--container .about--box {
    text-align: justify;
  }
}
.cards {
  transition: 0.3s;
}
.cards:hover {
  transform: scale(1.2, 1.2);
}

.split h3 {
  transition: 0.3s;
}
.split h3:hover {
  transform: scale(1.2, 1.2);
}

.nav--item__custom {
  transition: 0.3s;
}
.nav--item__custom a {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.3s;
}
.nav--item__custom a:hover {
  background-image: linear-gradient(#cacaca, #cacaca);
  background-size: 100% 3px;
}

.card-owmix {
  transition: 0.3s;
}
.card-owmix:hover {
  transform: scale(1.05, 1.05);
}

.services--boxes h3 {
  transition: 0.3s;
}
.services--boxes h3:hover {
  transform: scale(1.1, 1.1);
}

/*# sourceMappingURL=style.css.map */
