.iconic--message {
  background-color: #37306b;

  .iconic-custom {
    background-color: #37306b;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #cacaca;
    }

    hr {
      color: #fffefe;
      width: 50%;
    }
  }
}

/*--carousel--*/

.carousel-inner {
  height: 500px;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}

//line from main after carousel
.ic--nbox__container {
  display: flex;
  flex-direction: column;
  background-color: #66347f;

  h2 {
    color: #fffefe;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.562);
    font-weight: bold;
  }
}

//Main cards section from iconic
.ic--container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  background-color: #66347f;

  .ic-custom {
    width: 25%;
    background-color: #cacaca;

    img{
      
      max-width: 100%;
      height: 500px;
    }
  }

}
