/*------------ Iconic Games----------*/

/*--carousel--*/

.carousel-inner{

    height: 500px;

}

.carousel-item{

    height: 500px;
    
}

.carousel-item img{

    height: 500px;
    object-fit: cover;
    
}