/*------------ Official Websites----------*/

/*----SASS-----*/

.ow--boxes {
  background-color: #37306B;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card--boxes{

  background-color: #66347F;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.card-ow {
  @extend .d-flex;
  width: 300px;
  height: 100%;
  padding: 2px;
  border-radius: 20px;
  border: 2px solid map-get($buttonstwo, secondcolor);
  color: #cacaca;
  text-align: center;
  box-shadow: 2px 2px 3pc 0px black;
  
  img{

    @include images(100%, 300px, cover);
    border-radius: 20px
  }
}

.card-owmix{

  @include flexbox(column,center,center,wrap,15px);
  width: 350px;
  height: 100%;
  padding: 6px;
  border-radius: 20px;
  border: 2px solid map-get($buttonstwo, secondcolor);
  color: #cacaca;
  text-align: center;
  box-shadow: 2px 2px 3pc 0px black;

  img{

    @include images(100%, 300px, cover);
    border-radius: 20px
  }

}


.services--boxes{
  background-color: #37306B;
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// img{

//   @include images(100%, 300px, cover)
// }




