/* Bootstrap for all*/

/*--Nav Bar--*/

.ic--wmessage--container {
  background-color: #37306b;
  text-align: center;
}

.navbar-custom {
  background-color: #230068;
}

.navbar-brand,
.nav-link {
  color: #fefefe;
}

.offcanvas-body {
  background-color: #230068;
}

.offcanvas-header {
  background-color: #9e4784;
}

/* ---    Logo   ----  */

.custom--logo {
  width: 25%;
  text-align: start;
}
.container-fluid img {
  height: 150px;
  object-fit: cover;
}
