//vars 
$main-color: #37306B;

//map 

$buttons:(
  primary: blue,
  secondary: gray,
  light: white,
  danger: red,
  dark: black,
  );

$buttonstwo:(
  firstcolor: #37306B,
  secondcolor:#66347F,
  thirdcolor:#9E4784,
  fourthcolor:#D27685,
  fifthcolor:#eeee,
);

// $buttonsthree:(
//   firstcolor: #37306B,
//   secondcolor:#66347F,
//   thirdcolor:#9E4784,
//   fourthcolor:#D27685,
//   fifthcolor:#eeee,
// );